body
{
  margin: 0px;
  padding: 0px;
}

.topnav 
{
  height: 50px;
  overflow: hidden;
  background-color: ;
  margin-top: 0px;
  margin-left: px;
  width: 100%;
  padding: 2px;

}

.topnav a 
{
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 23px;
  padding-top: 10px;
  
  text-decoration: none;
  font-size: 22px;
  color: #fff;

  
}

.topnav a:hover 
{

  color: #000;
  background-color: #fff;
}
.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
background-image: url(breadcumb2.jpg);
   }


.breadcumb-area {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 385px; }
  
  .breadcumb-area .bradcumbContent {
    position: absolute;
    background-color: #fff;
    width: 552px;
    bottom: 0;
    left: 50%;
    z-index: 100;
    text-align: center;
    padding-top: 40px;
    transform: translateX(-50%); }
   
    .breadcumb-area .bradcumbContent p {
      line-height: 1.5;
      font-size: 16px;
      color: #5f5f5f; }
    .breadcumb-area .bradcumbContent h2 {
      font-size: 30px;
      letter-spacing: 10px;
      text-transform: uppercase;
      line-height: 1;
      margin-bottom: 0; 
    }
    .mklogo
{
 
 height: 15%;
 width: 9%;
 
 padding: 0%;

}
.mklogo img
{
  height: 100px;
  width:100px;
 
  margin-left: 1%;
  margin-top: -40%;
}
.table
{
  height: auto;
  width: 90%;
  padding-top: 5%;
  margin-left:2%; 

}

.table  img
{
  height: 160px;
  width: 160px;
  padding: 10px 20px;
}
.table a
{
  text-decoration: none;
  color:#A3956D;
  font-size: 20px;
  animation: coloar 4s infinite;
}
@keyframes coloar{
  0%
  {
    color:#000;
    
  }
  50%
  {
    color:#A3956D;
    
  }
  100%
  {
    color: #000;
    
  }

}

.table img:hover
{
  transform: scale(1.08);
  transition: .2s;
}
.table1
{
  padding-top: 2%;
}

.bg-img1 {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
background-image: url(breadcumb3.jpg);

}

.slideshow-container {
  padding-top: 6%;
  max-width: 30%;
  margin: auto;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 6s ease;
}

.active {
  background-color: #717171;
}

.mySlides img
{
  animation: ad 12s infinite;
}

@keyframes ad{
  0%
  {
    transform: scale(1);
  }
  50%
  {
    transform: scale(1.2);
  }
  100%;
  {
    transform: scale(1);
  }
}

.title1 h2
{

    
      font-size: 60px;
      color: #000;
      font-weight: 400;
      letter-spacing: 30px;
      margin-top: 10%;
      text-align: center;
}
.audio
{
  height: auto;
  width: 90%;
  padding-top: 5%;
  margin-left:4%; 


}
.audio  img
{
  height: 150px;
  width: 240px;
  padding: 10px 40px;
}

.ad1
{
  width: 100%;
  height: 10px;
  background-color: #000; 
}
.ad1 audio
{
  width: 90%;
  margin-top: 10px;
}
.parallax {
  
  background-image: url('m5.jpg');
  height: 10%;
  padding-top: 40%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.copyright
{
  height: 40%;
  width: 100%;
  background-color: #000;
  margin-top: -10%;
}
.logo img
{
  height: 100px;
  width:100px;
  margin-top: 10px;
  margin-left: 15%;
}
.copyright p
{
  color: #fff;
  margin-left: 5%;
  margin-top: 0%;

}
.table2
{
  float: right;
  margin-top: -10%;
  margin-right: 30px; 
}
.a1
{
  height: auto;
  width: auto;
  margin-top: -40%;
  margin-left: 35%;
  
}
.a1 p
{
  font-size: 70px;
  color:#000;
  font-family: sans-serif;
  letter-spacing: 30px;
  margin-left:-17%;

}

.p1
{
  height: auto;
  width: auto;
  margin-top: -5%;
  margin-left: 47%;
}
.p1 img
{
  height: 85px;
  width: 90px;
  border-radius: 50%;
  animation: asd 1s infinite;
}
@keyframes asd{
  0%{
    box-shadow: 0 0 100px #000;
  }
  100%{
    box-shadow: 0 0 0px #fff;
  }
}